body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  margin: 0;
  padding: 0;
}

.login-container {
  max-width: 400px;
  margin: 100px auto;
  background-color: #fff;
  padding: 30px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  margin-bottom: 30px;
}

.form-group {
  width: 100%;
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.form-group input {
  width: 95%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #51c857;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 15px;
}

button:hover {
  background-color: #3da74a;
}

.google-login {
  display: flex;
  margin-top: 20px;
  justify-content: flex-start;
  align-items: center;
}

.google-icon {
  margin-left: 10px;
  padding: 5px 10px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  color: #000000;
  text-decoration: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: nowrap;
  font-size: 15px;
}

.google-icon:hover {
  background-color: #c0bebe;
}


img{
  width: 30px;
  margin-right: 5px;

}
